<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">

  <title>Análisis últimos tweets</title>
  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
  <link rel="style" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#seguidores').DataTable({
        language: {
          "decimal": "",
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
          "infoFiltered": "(Filtrado de _MAX_ total entradas)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        },
      });
      $('#seguidos').DataTable({
        language: {
          "decimal": "",
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
          "infoFiltered": "(Filtrado de _MAX_ total entradas)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        },
      });
    });
  </script>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
</head>

<body>
  <header class="navbar sticky-top flex-md-nowrap p-0 shadow" id="navbar">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3"> Bienvenido, {{user.username}}</a>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a id="sesion" class="nav-link px-3" href="/logout">Cerrar sesión</a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-5">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">
                Últimos likes y retweets
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                  <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                </svg>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/buscarTweets">
                Buscar Tweets
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                  <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                </svg>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">
                Seguidores
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Blablabla
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2 class="h2">Obtener seguidores</h2>
        </div>
        {% block content %}
        <form class="row gy-2 gx-3 align-items-center" action="" method="post">
          {% csrf_token %}
          <div class="col-auto">

            <div class="input-group">
              <label class="mt-2 me-2" style="font-size: 17px">Introduce el nombre del usuario</label>
              <div class="input-group-text">@</div>
              <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
          </div>
          <div class="col-auto">
            <label class="mt-2 me-2" style="font-size: 17px">Introduce el número máximo de seguidores y seguidos a extraer</label>
            <input type="number" name="max" min="1" max="1000" placeholder="1-1000" style="height: 38px">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-dark mx-3" style="width:12em">Analizar</button>
          </div>
        </form>
        {% endblock %}
        {% block seguidores %}
        <div style="width:100%">
          <div style="width: 50%; float:left;">
            <table id="seguidores" class="table table-striped">
              <thead class="table-dark">
                {% if lista_seguidores %}
                <tr class="align-middle">
                  <th>Seguidores</th>
                </tr>
                {% endif %}
              </thead>
              <tbody>
                {% for seguidor in lista_seguidores.data %}
                <tr>
                  <td>{{ seguidor.username }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="width: 50%; float:left;">
            <table id="seguidos" class="table table-striped">
              <thead class="table-dark">
                {% if lista_seguidos %}
                <tr class="align-middle">
                  <th>Seguidos</th>
                </tr>
                {% endif %}
              </thead>
              <tbody>
                {% for seguido in lista_seguidos.data %}
                <tr>
                  <td>{{ seguido.username }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endblock %}
        </div>
      </main>
    </div>
  </div>
  <!-- Javascript -->
  
  <!--
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  -->
</body>

</html>