{% extends "main/base.html" %}

{% block content %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Restauración de contraseña confirmado</h2>
		<hr>
        <p>Escriba a continuación su nueva contraseña.</p>
        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="InputPassword1"><b>Nueva contraseña</b></label>
                {{ form.new_password1}}
            </div>
            <div class="form-group mt-3">
                <label for="InputPassword2"><b>Repita su nueva contraseña</b></label>
                {{ form.new_password2 }}
            </div>               
            <button class="mt-4 btn btn-primary" type="submit">Restaurar contraseña</button>
        </form>
    </div>

{% endblock %}